# Prerequisites
*.d
.vscode/

# Object files
*.o
*.ko
*.obj
*.elf
*.SFO

# Linker output
*.ilk
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.PBP
*.prx

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMFileManager PSP Specific objects
app/drivers/audio_driver.S
app/drivers/display_driver.S
app/drivers/fs_driver.S
app/drivers/impose_driver.S
app/drivers/input_driver.S
*.json
*.log
